html{
    height: 100%;
}


body{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* utilise 100% de la hauteur de la fenêtre */
}

.canvas {
    border: 1px solid #000; /* ajoutez une bordure au canvas si nécessaire */
}