html{
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
}

.canvas {
    border: 1px solid #000; 
    display: block;
}

.menu {
    text-align: center;
}

#finish{
    border: 0;
    padding: 0;
    background-color: black
}